#board{
  background-color: aqua;
}
body{
  background: #202028;
  color: #fff;
  display:flex;
  justify-content: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: large;
  font-weight: bold;
}